
<header>

  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>Galeria</strong>
      </a>

      <%= search_form_for @q do |f| %>

        
        <%= f.search_field :title_cont, placeholder:"Szukaj tytułu..." %>
        <%= f.submit "Szukaj!" %>
               
      <% end %>
      <%= link_to 'Nowy Obraz', new_pin_path, :class => "btn btn-primary btn-sm" %>
    </div>
  </div>
</header>
<p id="notice"><%= notice %></p>



<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @pins.each do |pin| %>
        <div class="col" >
        
        <div class="card shadow-sm">
        <th>Tytuł: </th>
        <%= pin.title %>
        <figure class="figure">
        <%= link_to image_tag(pin.image, id:pin.id, class:"card-img-top", style: "height: 40vh"), pin%>
        </figure>

          <div class="card-body">
          <%= pin.caption %>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to 'Usuń', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-sm" %>
                <%= link_to 'Edytuj', edit_pin_path(pin), :class => "btn btn-primary btn-sm"  %>
              </div>
            </div>
          </div>
        </div>
      </div>
        
         <% end %>
      
    </div>
  </div>
</div>










